.ipynb_checkpoints/

__pycache__/

exp_results/

*.out

log/

*result*/

interactives/

outputs/

test_images/

*.pkl

datasets/Cityscapes.py
datasets/COCO.py
datasets/DAVIS.py
datasets/ScriptDownloadDataset.ipynb
datasets/utils.py

# loss/TotalLoss.py
loss/SISDMLEmbeddingLoss.py
loss/ECOISEmbeddingLoss.py
loss/DiscriminativeLoss.py

